body {
    background-color: black;
    font-family: Helvetica;
    color: white;
    text-align: center;
    font-size: 13pt;
}

a {
    color: lightblue;
}

figcaption {
    font-size: 10pt;
}

h1, h2, h3, h4, h5 {
    margin: 10px;
}

.recent {
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.spingif {
    height: 125px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    place-items: center;
    text-align: left;
    max-width: 1200px;
}

.album {
    padding: 15px;
    max-width: 275px;

    p {
        font-size: 12pt;
        margin: 1px;
    }

    b {
        font-size: 14pt;
    }

    img {
        max-height: 275px;
    }
    
    .catnum {
        font-size: 8pt;
        color: lightgray;
        margin-top: 1px;
    }
}

#header a {
    font-size: 18pt;
    text-decoration: underline overline;
}

#content, #footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#content {
    margin-top: 10px;
    border: 10px;
    border-color: grey;
}

#title {
    height: 125px;
}



@media only screen and (max-width: 600px) {
    
    body {
        font-size: 12pt;
    }

    .recent {
        text-align: left;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .spingif {
        width: 10%;
    }

    #title {
        height: 120px;
        width: 75%;
    }
}