body {
    background-color: black;
    font-family: Helvetica;
    color: white;
    text-align: center;
    font-size: 16pt;
}

a {
    color: lightblue;
}

figcaption {
    font-size: 10pt;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    place-items: center;
    text-align: left;
}

.album {
    padding: 15px;

    p {
        font-size: 12pt;
        margin: 2px;
    }

    b {
        font-size: 14pt;
    }

    img {
        height: 275px;
    }
    
    i {
        font-size: 8pt;
        color: lightgray;
        margin-top: 2px;
    }
}

#header a {
    font-size: larger;
    text-decoration: underline overline;
}

#content, #footer {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
